In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

## late fusion

In [4]:
df_late_fusion = pd.read_excel('CASS_DB.xlsx', sheet_name=0)

In [7]:
df_late_fusion.sort_values('category')

     id category  result_LW  result_P  result_SC
0    87        A          1         1          1
3    95        A          2         1          1
4   100        A          1         1          1
6   106        A          1         1          1
8   110        A          1         1          0
9   112        A          0         1          1
10  114        A          0         1          1
11  116        A          0         1          1
12  118        A          1         1          0
1    89        N          0         1          0
2    94        N          0         0          0
5   102        N          0         0          0
7   108        N          0         0          2
13  120        N          0         0          1
14  121        N          1         2          0
15  124        N          0         0          0

### k-Fold cross-validation

### Stratified k-Fold cross-validation

### Leave-p-out cross-validation