In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

## late fusion

In [137]:
# load parrot data
dict_parrot = np.load('parrot_data.npy', allow_pickle=True).item()
df_parrot = pd.DataFrame.from_dict(dict_parrot,).T
df_parrot = df_parrot.reset_index()
df_parrot.rename(columns={'index':'id'}, inplace=True)


# load lightwheel data
df_lightwheel = pd.read_csv('lightwheel_data.csv')
df_lightwheel
# df_lightwheel.drop([''])
df_parrot

,id,id_vector,main_vector,move_vector,label
0,100,"[0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[0.0, 929.0, 704.0, 10.0, 5.0, 384.0, 414.0, 4...","[0.0, 157.0, 161.0, 8.0, 3.0, 78.0, 100.0, 13....",1
1,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 245.0, 9.0, 3.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 91.0, 4.0, 3.0,...",0
2,106,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[1.0, 1177.0, 358.0, 50.0, 16.0, 255.0, 591.0,...","[1.0, 157.0, 115.0, 14.0, 5.0, 111.0, 195.0, 2...",1
3,108,"[0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...","[0.0, 2415.0, 211.0, 0.0, 0.0, 47.0, 76.0, 9.0...","[0.0, 156.0, 84.0, 0.0, 0.0, 42.0, 48.0, 9.0, ...",0
4,110,"[0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...","[0.0, 51.0, 198.0, 0.0, 0.0, 1685.0, 144.0, 0....","[0.0, 24.0, 46.0, 0.0, 0.0, 112.0, 47.0, 0.0, ...",1
5,112,"[0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...","[0.0, 0.0, 596.0, 52.0, 0.0, 169.0, 420.0, 35....","[0.0, 0.0, 121.0, 26.0, 0.0, 93.0, 93.0, 18.0,...",1
6,114,"[0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...","[0.0, 33.0, 0.0, 0.0, 0.0, 1816.0, 925.0, 10.0...","[0.0, 15.0, 0.0, 0.0, 0.0, 52.0, 23.0, 5.0, 0....",1
7,116,"[0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...","[0.0, 54.0, 0.0, 0.0, 0.0, 1169.0, 106.0, 0.0,...","[0.0, 4.0, 0.0, 0.0, 0.0, 30.0, 15.0, 0.0, 0.0...",1
8,118,"[0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...","[0.0, 10.0, 36.0, 0.0, 0.0, 23.0, 46.0, 0.0, 4...","[0.0, 8.0, 26.0, 0.0, 0.0, 6.0, 31.0, 0.0, 55....",1
9,120,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 645.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 152.0...",0
10,124,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...","[0.0, 0.0, 101.0, 0.0, 0.0, 0.0, 1013.0, 112.0...","[0.0, 0.0, 6.0, 0.0, 0.0, 0.0, 11.0, 18.0, 0.0...",0
11,87,"[1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[14.0, 1973.0, 367.0, 0.0, 12.0, 290.0, 71.0, ...","[10.0, 304.0, 122.0, 0.0, 11.0, 118.0, 24.0, 9...",1
12,89,"[0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","[0.0, 8.0, 193.0, 0.0, 0.0, 0.0, 733.0, 0.0, 0...","[0.0, 6.0, 41.0, 0.0, 0.0, 0.0, 37.0, 0.0, 0.0...",0
13,94,"[0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...","[0.0, 58.0, 303.0, 0.0, 0.0, 458.0, 1409.0, 0....","[0.0, 23.0, 86.0, 0.0, 0.0, 79.0, 151.0, 0.0, ...",0
14,95,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[4.0, 863.0, 221.0, 56.0, 736.0, 1034.0, 198.0...","[3.0, 200.0, 84.0, 13.0, 169.0, 408.0, 57.0, 9...",1
15,121,NaN,NaN,NaN,0

### k-Fold cross-validation

In [102]:
dict_parrot.keys()

dict_keys(['100', '102', '106', '108', '110', '112', '114', '116', '118', '120', '124', '87', '89', '94', '95', '121'])

In [120]:
dict_parrot['121']['label'] = '0'

In [122]:
np.save('parrot_data.npy', dict_parrot)

In [121]:
pd.DataFrame.from_dict(dict_parrot).T

,id_vector,main_vector,move_vector,label
100,"[0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[0.0, 929.0, 704.0, 10.0, 5.0, 384.0, 414.0, 4...","[0.0, 157.0, 161.0, 8.0, 3.0, 78.0, 100.0, 13....",1
102,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 245.0, 9.0, 3.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 91.0, 4.0, 3.0,...",0
106,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[1.0, 1177.0, 358.0, 50.0, 16.0, 255.0, 591.0,...","[1.0, 157.0, 115.0, 14.0, 5.0, 111.0, 195.0, 2...",1
108,"[0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...","[0.0, 2415.0, 211.0, 0.0, 0.0, 47.0, 76.0, 9.0...","[0.0, 156.0, 84.0, 0.0, 0.0, 42.0, 48.0, 9.0, ...",0
110,"[0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...","[0.0, 51.0, 198.0, 0.0, 0.0, 1685.0, 144.0, 0....","[0.0, 24.0, 46.0, 0.0, 0.0, 112.0, 47.0, 0.0, ...",1
112,"[0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...","[0.0, 0.0, 596.0, 52.0, 0.0, 169.0, 420.0, 35....","[0.0, 0.0, 121.0, 26.0, 0.0, 93.0, 93.0, 18.0,...",1
114,"[0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...","[0.0, 33.0, 0.0, 0.0, 0.0, 1816.0, 925.0, 10.0...","[0.0, 15.0, 0.0, 0.0, 0.0, 52.0, 23.0, 5.0, 0....",1
116,"[0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...","[0.0, 54.0, 0.0, 0.0, 0.0, 1169.0, 106.0, 0.0,...","[0.0, 4.0, 0.0, 0.0, 0.0, 30.0, 15.0, 0.0, 0.0...",1
118,"[0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...","[0.0, 10.0, 36.0, 0.0, 0.0, 23.0, 46.0, 0.0, 4...","[0.0, 8.0, 26.0, 0.0, 0.0, 6.0, 31.0, 0.0, 55....",1
120,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 645.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 152.0...",0
124,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...","[0.0, 0.0, 101.0, 0.0, 0.0, 0.0, 1013.0, 112.0...","[0.0, 0.0, 6.0, 0.0, 0.0, 0.0, 11.0, 18.0, 0.0...",0
87,"[1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[14.0, 1973.0, 367.0, 0.0, 12.0, 290.0, 71.0, ...","[10.0, 304.0, 122.0, 0.0, 11.0, 118.0, 24.0, 9...",1
89,"[0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","[0.0, 8.0, 193.0, 0.0, 0.0, 0.0, 733.0, 0.0, 0...","[0.0, 6.0, 41.0, 0.0, 0.0, 0.0, 37.0, 0.0, 0.0...",0
94,"[0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...","[0.0, 58.0, 303.0, 0.0, 0.0, 458.0, 1409.0, 0....","[0.0, 23.0, 86.0, 0.0, 0.0, 79.0, 151.0, 0.0, ...",0
95,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[4.0, 863.0, 221.0, 56.0, 736.0, 1034.0, 198.0...","[3.0, 200.0, 84.0, 13.0, 169.0, 408.0, 57.0, 9...",1
121,NaN,NaN,NaN,0

### Stratified k-Fold cross-validation

### Leave-p-out cross-validation